<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='styles/login.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <title>OTP Verification</title>
  </head>
  <body>
    <div class="center">
      <h1>OTP Verification</h1>
      <form action="/verify_student_otp" method="post">
        <div class="txt_field">
          <input type="text" name="otp" required />
          <span></span>
          <label>Enter OTP from Email</label>
        </div>
        <input type="submit" value="Verify" />
        <div class="bottom_text">
          {% if data %} {{ data }} {% endif %}
          <br />
        </div>
      </form>
      <button onclick="window.location.href='/student_login'">Back to Login</button>
    </div>
  </body>
</html> 